<!DOCTYPE html>
<html>
<head>
<title>PostIt</title>
<link rel="stylesheet" href="login.css">
<link rel="stylesheet" href="chat.css">
</head>
<body>
<section class="BodyContent">
<header class="Myhead">
    <div class="Profile_Image">
    <img src="Images/sisters.jpg" class="image">
    <label>Welcome Ifediora Sally</label>
    </div>
</header>
  <aside class="Hold_Users">
   
    <div class="Images"><img src="Images/dndn-logo.jpg" class="image"></div>
     <label class="Names" >Adaobi</label>
   
    <div class="Images"><img src="Images/body.png"  class="image"></div>
      <label class="Names" >Anjola</label>
   
    <div class="Images"><img src="Images/Screen%20Shot%202014-12-14%20at%2011.40.48%20PM.png" class="image"></div>
      <label class="Names" >Blessing</label>
   
    <div class="Images"><img src="Images/download.jpg" class="image"></div>
      <label class="Names" >Bolaji</label>
      
     <div class="Images"> <img src="Images/solutions-to-the-channel-conflict.jpg" class="image"></div>
      <label class="Names" >Labake</label>
      
     <div class="Images"><img src="Images/types-of-channel-conflict-final.jpg" class="image" ></div>
      <label class="Names" >Philip</label>
      
     <div class="Images"></div>
      <label class="Names" >Victoria</label>
      
    
    </aside> 
    <input type="text" class="Message" readonly value="Hi Eevery One How are you Guys Doing">
    <input type="text" class="Meassage" readonly value="Am Fine And you"> 

    
</section>
    
    
</body>


</html>