<!DOCTYPE html>
<html lang="en">

<head>
<title>PostIt</title>
    <link rel="stylesheet"  href="login.css">
    <a href="chat.html"><button>Login</button></a>
    
</head>
<body>
    <header class="Myhead">
    <label class="text" Write PostIt></label>
    <input type="text" class="User" value="Password">
    <input type="text" class="UserName" value="Email Address">
    <input type="button" value="Login" class="BtnLogin">
    </header>
 <section class="Content">
    <input type="text" class="User1" value="First Name">
    <input type="text" class="User2" value="Last Name">
    <input type="text" class="User1" value="Email">
    <input type="text" class="User2" value="User Name">
    <input type="text" class="User1" value="Password">
    <input type="text" class="User2" value="Confirm Password">
     <input type="button" class="Register" value="Sign Up">
    
    
    </section>
    
    
    
</body>

</html>